In [28]:
import pandas as pd
from pathlib import Path

In [29]:
#Load CSV Files
school_data = Path("Resources/schools_complete.csv")
student_data = Path("Resources/students_complete.csv")

In [30]:
school_csv = pd.read_csv(school_data)
student_csv = pd.read_csv(student_data)

In [31]:
school_master = pd.merge(student_csv, school_csv, how = "left", on = ["school_name", "school_name"])
school_master.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [41]:
# Calculate the total number of unique schools
unique_schools = len(school_master["school_name"].unique())
unique_schools

15

In [46]:
# Calculate the total number of students
#student_count = len(school_master["student_name"].unique())
#student_count

student_count = school_master["student_name"].count()
student_count

39170

In [43]:
# Calculate the total budget
budget_per_school = school_master[["school_name", "budget"]]
budget_summary = budget_per_school.groupby("school_name").mean().sum()
budget_summary

budget    24649428.0
dtype: float64

In [44]:
# Calculate the average (mean) math score
average_math_score = school_master["math_score"].mean()
average_math_score

78.98537145774827

In [45]:
# Calculate the average (mean) reading score
average_reading_score = school_master["reading_score"].mean()
average_reading_score

81.87784018381414

In [47]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_master[(school_master["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [49]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_master[(school_master["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [52]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_master[
    (school_master["math_score"] >= 70) & (school_master["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary